.header {
font-family: "omnes-pro", sans-serif;
margin-top: 50px;
padding: 1em;
text-align: center;
}
	.header h1 {
        font-size: 450%;
        font-weight: 100;
        margin: 0;
	}
	.header img {
		width:250px;
		padding: 10px;
	}

.content {
background-color: #ddd;

margin-left: auto;
margin-right: auto;
border: 2px solid gray;
border-radius: 5px;
padding: 20px;

max-width: 400px;
}
.error {
background-color: #FFCCCC;
border: 1px solid red;
padding: 5px;
border-radius: 5px;
text-align: center;
}

