<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>SecServ</title>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/secServ.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/side-menu.css') }}">
</head>
<body>
<div id="layout">
<div id="menu">
<div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" href="/">SecServ</a>
        <ul>
	{% for menu_item in navigation %}
            <li class=" ">
                <a href="{{ url_for(menu_item) }}">{{ menu_item|title }}</a>
            </li>
	{% endfor %}
        </ul>
    </div>

</div>
<div class="heading">

</div>
<div class="content">
	{% block body %}{% endblock %}
</div>
</div>
</body>
