<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>Landing Page &ndash; Layout Examples &ndash; Pure</title>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/secServ.css') }}">
</head>
<body>
<div class="header">
<div class="logo">
<img src="{{ url_for('static', filename='img/logo.png') }}">
</div>
<h1>{{ app_name }}</h1>
</div>
<div class="content">
	<div class="pure-g-r-1 grid-login">
	{% if error %}
    	<div class='error'><strong>Error:</strong> {{ error }}</div>
    	{% endif %}
	<form action="{{ url_for('login') }}" method=post class="pure-form">
		<fieldset class="pure-group">
			<input name=username type="text" class="pure-input-1" placeholder="Username">
        		<input name=password type="password" class="pure-input-1" placeholder="Password">
    		</fieldset>
    		<button type="submit" class="pure-button pure-input-1 pure-button-primary">Sign in</button>
	</form>
	</div>
</div>
</body>
